<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBLookupHelper_DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\github\repos\DBLookupHelper\UnitTest\bin\Debug\AppData\Sales.mdf;Initial Catalog=Sales-Test;Integrated Security=True;Connect Timeout=30"/>
    <add name="TestConnStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=G:\github\repos\DBLookupHelper\UnitTest\bin\Debug\AppData\Sales.mdf;Initial Catalog=Sales-Test;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>